:root {
  --clr-neutral-100: hsl(210, 17%, 98%);
  --clr-neutral-120: hsl(210, 17%, 95%);
  --clr-neutral-150: hsl(210, 17%, 89%);
  --clr-neutral-200: hsl(210, 7%, 58%);
  --clr-neutral-300: hsl(210, 9%, 31%);
  --clr-neutral-400: hsl(210, 11%, 15%);

  --clr-accent-100: hsl(0, 86%, 59%);
  --clr-accent-200: hsl(0, 65%, 48%);

  --clr-graphic-orange-100: hsl(20, 88%, 50%);
  --clr-graphic-orange-200: hsl(20, 88%, 48%);

  --clr-graphic-red-100: hsl(0, 82%, 35%);
  --clr-graphic-red-200: hsl(0, 82%, 33%);

  --clr-graphic-gold-100: hsl(37, 76%, 67%);
  --clr-graphic-gold-200: hsl(37, 70%, 65%);
  --clr-graphic-gold-300: hsl(37, 60%, 61%);

  --fs-100: 0.75rem;
  --fs-200: 1rem;
  --fs-300: 1.25rem;
  --fs-400: 1.5rem;
  --fs-450: 1.875rem;
  --fs-500: 2rem;

  --fw-100: 500;
  --fw-200: 800;

  --ff-primary: "Libre Franklin";
  --ff-secondary: "Poppins";

  --ff-button: var(--ff-primary);
  --ff-nav: var(--ff-primary);
  --ff-brand: Pacifico;
  --ff-ampersand: "Playfair Display";

  --spacing-100: 0.3124rem;
  --spacing-200: 0.635rem;
  --spacing-300: 1.25rem;
  --spacing-400: 2.5rem;
  --spacing-500: 3.75rem;
  --spacing-600: 5rem;
  --spacing-700: 7rem;

  font-size: 16px;
  font-family: var(--ff-primary);
  background-color: var(--clr-neutral-100);
  color: var(--clr-neutral-400);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-secondary);
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: var(--fs-500);
}
h2 {
  font-size: var(--fs-400);
}
h3 {
  font-size: var(--fs-450);
}
h4 {
  font-size: var(--fs-200);
}
h5 {
  font-size: var(--fs-100);
}

main > header:first-child {
  background-image: url(/assets/background_1.jpg);
  background-size: cover;
  background-position: center;
}

.section {
  border-bottom: 1px solid var(--clr-neutral-150);
}

/* Products */

.product-img {
  display: flex;
  justify-content: center;
  position: relative;
}

.product-img img {
  height: 509px;
}

.product-img .underlay {
  --height: 180px;

  height: var(--height);
  width: 450px;
  background-color: var(--clr-neutral-120);
  position: absolute;
  top: calc(50% - (var(--height) / 2));
  z-index: -1;
}

/* Graphic */

.graphics {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px;
}

.graphic {
  position: relative;
  isolation: isolate;
  max-width: max-content;
  display: flex;
  align-items: center;
}

.graphic::before,
.graphic::after {
  content: "";
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  position: absolute;
  z-index: -1;
}

.graphic::before {
  --size: 200px;
  top: calc(50% - (var(--size) / 2));
  left: calc(50% - (var(--size) / 2));
}

.graphic::after {
  --size: 125px;
  left: calc(50% - (var(--size) / 2));
  top: calc(50% - (var(--size) / 2));
}

.graphic:first-child::before {
  background-color: var(--clr-graphic-gold-200);
}
.graphic:first-child::after {
  background-color: var(--clr-graphic-gold-100);
}
.graphic:nth-child(2)::before {
  background-color: var(--clr-graphic-orange-200);
}
.graphic:nth-child(2)::after {
  background-color: var(--clr-graphic-orange-100);
}
.graphic:last-child::before {
  background-color: var(--clr-graphic-red-200);
}
.graphic:last-child::after {
  background-color: var(--clr-graphic-red-100);
}

.graphic > img {
  width: 64px;
}

/* Components */

.subtitle {
  display: block;
  color: var(--clr-accent-100);
  text-transform: uppercase;
  font-size: var(--fs-100);
}

.ampersand {
  font-size: var(--spacing-400);
  font-family: var(--ff-ampersand);
  color: var(--clr-accent-200);
}

.brand {
  font-family: var(--ff-brand);
  font-size: var(--fs-300);
}

/* Navigation */

.primary-navigation {
  display: flex;
  justify-content: space-between;
  padding-block: var(--spacing-300);
}

.primary-navigation > ul {
  display: flex;
  gap: var(--spacing-400);
  align-items: center;
}

.primary-navigation li {
  list-style: none;
  text-transform: uppercase;
}

/* Button */

.button {
  max-width: max-content;
  display: flex;
  align-items: center;
  gap: var(--spacing-100);
  border: 0;
  background-color: unset;
  font-family: var(--ff-secondary);
  font-size: var(--fs-100);
  text-transform: capitalize;
}

.button img {
  width: 20px;
}

.button:not([data-button-cart]) {
  color: var(--clr-neutral-100);
  background-color: var(--clr-accent-200);
  letter-spacing: 0.15rem;
}

/* Content */

.content p {
  line-height: 1.7rem;
}

/* Utility */

.centered {
  align-items: center;
}

.text-centered {
  text-align: center;
}

.container {
  width: 90vw;
  margin: 0 auto;
}

.even-columns {
  display: flex;
  gap: var(--spacing-100);
}

.even-columns > * {
  flex: 1;
}

.text-upper {
  text-transform: uppercase;
}

.pt-100 {
  padding-block-start: var(--spacing-100);
}
.pt-200 {
  padding-block-start: var(--spacing-200);
}
.pt-300 {
  padding-block-start: var(--spacing-300);
}
.pt-400 {
  padding-block-start: var(--spacing-400);
}
.pt-500 {
  padding-block-start: var(--spacing-500);
}
.pt-600 {
  padding-block-start: var(--spacing-600);
}

.py-100 {
  padding-block: var(--spacing-100);
}
.py-200 {
  padding-block: var(--spacing-200);
}
.py-300 {
  padding-block: var(--spacing-300);
}
.py-400 {
  padding-block: var(--spacing-400);
}
.py-500 {
  padding-block: var(--spacing-500);
}
.py-600 {
  padding-block: var(--spacing-600);
}.py-700 {
  padding-block: var(--spacing-700);
}

.px-100 {
  padding-inline: var(--spacing-100);
}
.px-200 {
  padding-inline: var(--spacing-200);
}
.px-300 {
  padding-inline: var(--spacing-300);
}
.px-400 {
  padding-inline: var(--spacing-400);
}
.px-500 {
  padding-inline: var(--spacing-500);
}
.px-600 {
  padding-inline: var(--spacing-600);
}

.mt-100 {
  margin-block-start: var(--spacing-100);
}
.mt-200 {
  margin-block-start: var(--spacing-200);
}
.mt-300 {
  margin-block-start: var(--spacing-300);
}
.mt-400 {
  margin-block-start: var(--spacing-400);
}
.mt-500 {
  margin-block-start: var(--spacing-500);
}
.mt-600 {
  margin-block-start: var(--spacing-600);
}

.gap-100 {
  gap: var(--spacing-100);
}
.gap-200 {
  gap: var(--spacing-200);
}
.gap-300 {
  gap: var(--spacing-300);
}
.gap-400 {
  gap: var(--spacing-400);
}
.gap-500 {
  gap: var(--spacing-500);
}
.gap-600 {
  gap: var(--spacing-600);
}
.gap-700 {
  gap: var(--spacing-700);
}
